<div
  ><link href="./contact3.css" rel="stylesheet" /><div
    class="contact3-contact20 thq-section-padding"
    ><div class="contact3-max-width thq-section-max-width"
      ><div class="contact3-section-title"
        ><span class="thq-body-small"
          ><span>We value your input and are here to assist you.</span></span
        ><div class="contact3-content"
          ><h2 class="thq-heading-2"><span>Contact Us</span></h2
          ><p class="contact3-text2 thq-body-large"
            ><span
              >Have questions or feedback? Feel free to reach out to us.</span
            ></p
          ></div
        ></div
      ><div class="contact3-row"
        ><div class="contact3-content1"
          ><svg viewBox="0 0 1024 1024" class="thq-icon-medium">
            <path
              d="M854 342v-86l-342 214-342-214v86l342 212zM854 170q34 0 59 26t25 60v512q0 34-25 60t-59 26h-684q-34 0-59-26t-25-60v-512q0-34 25-60t59-26h684z"
            ></path></svg
          ><div class="contact3-contact-info"
            ><div class="contact3-content2"
              ><h3 class="contact3-text3 thq-heading-3">Email</h3
              ><p class="contact3-text4 thq-body-large"
                ><span
                  >You can also fill out the form below to contact us:</span
                ></p
              ></div
            ><span class="contact3-email thq-body-small"
              ><span>info@soybeanmilk.com</span></span
            ></div
          ></div
        ><div class="contact3-content3"
          ><svg viewBox="0 0 1024 1024" class="thq-icon-medium">
            <path
              d="M282 460q96 186 282 282l94-94q20-20 44-10 72 24 152 24 18 0 30 12t12 30v150q0 18-12 30t-30 12q-300 0-513-213t-213-513q0-18 12-30t30-12h150q18 0 30 12t12 30q0 80 24 152 8 26-10 44z"
            ></path></svg
          ><div class="contact3-contact-info1"
            ><div class="contact3-content4"
              ><h3 class="contact3-text5 thq-heading-3">Phone</h3
              ><p class="contact3-text6 thq-body-large"
                ><span>We will get back to you as soon as possible.</span></p
              ></div
            ><span class="contact3-phone thq-body-small"
              ><span>+1234567890</span></span
            ></div
          ></div
        ><div class="contact3-content5"
          ><svg viewBox="0 0 1024 1024" class="thq-icon-medium">
            <path
              d="M512 0c-176.732 0-320 143.268-320 320 0 320 320 704 320 704s320-384 320-704c0-176.732-143.27-320-320-320zM512 512c-106.040 0-192-85.96-192-192s85.96-192 192-192 192 85.96 192 192-85.96 192-192 192z"
            ></path></svg
          ><div class="contact3-contact-info2"
            ><div class="contact3-content6"
              ><h3 class="contact3-text7 thq-heading-3">Office</h3
              ><p class="contact3-text8 thq-body-large"
                ><span>Thank you for visiting our website!</span></p
              ></div
            ><span class="contact3-address thq-body-small"
              ><span>123 Main Street, City, Country</span></span
            ></div
          ></div
        ></div
      ></div
    ></div
  ></div
>
