<div
  ><link href="./contact10.css" rel="stylesheet" /><div
    class="contact10-container thq-section-padding"
    ><div class="contact10-max-width thq-section-max-width"
      ><div class="contact10-content thq-flex-row"
        ><div class="contact10-content1"
          ><h2 class="thq-heading-2"><span>Contact Us</span></h2
          ><p class="thq-body-large"
            ><span
              >Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in ero.</span
            ></p
          ></div
        ></div
      ><div class="contact10-content2 thq-flex-row"
        ><div class="contact10-container1"
          ><img
            alt="image1Alt"
            src="https://images.unsplash.com/photo-1703160521121-25e981a89759?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxODAwNDI1OHw&ixlib=rb-4.0.3&q=80&w=1080"
            class="contact10-image thq-img-ratio-16-9"
          /><h3 class="contact10-text2 thq-heading-3"
            ><span>Email: info@soybeanmilkguide.com</span></h3
          ><p class="thq-body-large"
            ><span
              >For any inquiries or feedback, feel free to drop us an email.
              We'd love to hear from you!</span
            ></p
          ><div class="contact10-container2"
            ><span class="thq-button-flat thq-body-small"
              >Get directions</span
            ></div
          ></div
        ><div class="contact10-container3"
          ><img
            alt="image2Alt"
            src="https://images.unsplash.com/photo-1706010063145-5de39ca96983?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxODAwNDI1OHw&ixlib=rb-4.0.3&q=80&w=1080"
            class="contact10-image1 thq-img-ratio-16-9"
          /><h3 class="contact10-text5 thq-heading-3"
            ><span>Address: 123 Soybean Street, Milkland, USA</span></h3
          ><p class="thq-body-large"
            ><span
              >If you prefer traditional mail, you can send us a letter at the
              provided address.</span
            ></p
          ><div class="contact10-container4"
            ><span class="thq-button-flat thq-body-small"
              >Get directions</span
            ></div
          ></div
        ></div
      ></div
    ></div
  ></div
>
