<div
  ><link href="./cta26.css" rel="stylesheet" /><div class="thq-section-padding"
    ><div class="thq-section-max-width"
      ><div class="cta26-accent2-bg"
        ><div class="cta26-accent1-bg"
          ><div class="cta26-container1"
            ><div class="cta26-content"
              ><span class="thq-heading-2"
                ><span>Ready to make your own soybean milk?</span></span
              ><p class="thq-body-large"
                ><span
                  >Follow our step-by-step guide to start preparing your fresh
                  and nutritious soybean milk at home!</span
                ></p
              ></div
            ><div class="cta26-actions"
              ><button type="button" class="thq-button-filled cta26-button"
                ><span>Get Started</span></button
              ></div
            ></div
          ></div
        ></div
      ></div
    ></div
  ></div
>
