<div
  ><link href="./features1.css" rel="stylesheet" /><div
    class="features1-layout251 thq-section-padding"
    ><div class="features1-max-width thq-section-max-width"
      ><div class="thq-flex-row features1-section-title"
        ><div class="features1-column thq-flex-column"
          ><span class="thq-body-small"
            ><span>Nutritional Information</span></span
          ><h2 class="thq-heading-2 features1-text1"
            ><span>Features</span></h2
          ></div
        ><span class="thq-body-small"
          ><span
            >Discover the key features of our Preparation of Soybean Milk
            website.</span
          ></span
        ></div
      ><div class="features1-content"
        ><div class="features1-row thq-flex-row"
          ><div class="features1-feature1 thq-flex-column"
            ><img
              alt="Aim Icon"
              src="public/filtering-1400w.webp"
              class="thq-img-ratio-4-3 features1-feature1-image"
            /><div class="features1-content1 thq-flex-column"
              ><h3 class="thq-heading-3"><span>Aim</span></h3
              ><span class="thq-body-small"
                ><span
                  >Understand the purpose and goals of preparing soybean
                  milk.</span
                ></span
              ></div
            ></div
          ><div class="features1-feature2 thq-flex-column"
            ><a href="requirements.html"
              ><img
                alt="Requirements Icon"
                src="public/oig3-300h.webp"
                class="features1-feature2-image thq-img-ratio-4-3" /></a
            ><div class="features1-content2 thq-flex-column"
              ><h3 class="thq-heading-3"><span>Requirements</span></h3
              ><span class="thq-body-small"
                ><span
                  >Explore the essential ingredients and tools needed for making
                  soybean milk.</span
                ></span
              ></div
            ></div
          ><div class="features1-feature3 thq-flex-column"
            ><img
              alt="Theory Icon"
              src="public/oig2-300h.webp"
              class="thq-img-ratio-4-3 features1-feature3-image"
            /><div class="features1-content3 thq-flex-column"
              ><h3 class="thq-heading-3"><span>Theory</span></h3
              ><span class="thq-body-small"
                ><span
                  >Learn the scientific principles behind the preparation of
                  soybean milk.</span
                ></span
              ></div
            ></div
          ></div
        ></div
      ><div class="features1-actions"></div></div></div
></div>
