<div
  ><link href="./features25.css" rel="stylesheet" /><div
    class="thq-section-padding"
    ><div class="features25-container1 thq-section-max-width"
      ><div class="features25-tabs-menu"
        ><div class="features25-tab-horizontal"
          ><div class="features25-divider-container"
            ><div class="features25-container2"></div></div
          ><div class="features25-content"
            ><h2 class="thq-heading-2"><span>Step-by-step Guide</span></h2
            ><span class="thq-body-small"
              ><span
                >Detailed instructions on how to prepare soybean milk at
                home</span
              ></span
            ></div
          ></div
        ><div class="features25-tab-horizontal1"
          ><div class="features25-divider-container1"
            ><div class="features25-container3"></div></div
          ><div class="features25-content1"
            ><h2 class="thq-heading-2"><span>Nutritional Information</span></h2
            ><span class="thq-body-small"
              ><span
                >Insight into the nutritional content of soybean milk and its
                health benefits</span
              ></span
            ></div
          ></div
        ><div class="features25-tab-horizontal2"
          ><div class="features25-divider-container2"
            ><div class="features25-container4"></div></div
          ><div class="features25-content2"
            ><h2 class="thq-heading-2"><span>Equipment Needed</span></h2
            ><span class="thq-body-small"
              ><span
                >List of essential tools and ingredients required for making
                soybean milk</span
              ></span
            ></div
          ></div
        ></div
      ><div class="features25-image-container"
        ><img
          alt="Image illustrating step-by-step guide"
          src="https://images.unsplash.com/photo-1631376604944-ddb97deb9839?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxODAwNDI1OHw&ixlib=rb-4.0.3&q=80&w=1080"
          class="features25-image thq-img-ratio-16-9" /><img
          alt="Image showing nutritional information"
          src="https://images.unsplash.com/photo-1534803266547-553ed8fd9861?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxODAwNDI1OXw&ixlib=rb-4.0.3&q=80&w=1080"
          class="features25-image1 thq-img-ratio-16-9" /><img
          alt="Image displaying equipment needed"
          src="https://images.unsplash.com/photo-1687904119874-84e5ee83ea64?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxODAwNDI1OXw&ixlib=rb-4.0.3&q=80&w=1080"
          class="features25-image2 thq-img-ratio-16-9" /></div></div></div
></div>
