<div
  ><link href="./features24.css" rel="stylesheet" /><div
    class="thq-section-padding"
    ><div class="features24-container1 thq-section-max-width"
      ><div class="features24-image-container"
        ><img
          alt="Step-by-step Guide Image"
          src="public/soy%20milk%20after%20filtration-1400w.webp"
          class="features24-image thq-img-ratio-16-9" /><img
          alt="Nutritional Information Image"
          src="https://images.unsplash.com/photo-1689610369014-ba35dd0a7d41?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxODAwNDI1OXw&ixlib=rb-4.0.3&q=80&w=1080"
          class="features24-image1 thq-img-ratio-16-9" /><img
          alt="Required Equipment Image"
          src="https://images.unsplash.com/photo-1588095697843-37cc89dbf51c?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxODAwNDI1OHw&ixlib=rb-4.0.3&q=80&w=1080"
          class="features24-image2 thq-img-ratio-16-9" /></div
      ><div class="features24-tabs-menu"
        ><div class="features24-tab-horizontal"
          ><div class="features24-divider-container"
            ><div class="features24-container2"></div></div
          ><div class="features24-content"
            ><a href="requirements.html" class="features24-navlink"
              ><h2 class="features24-feature1-title thq-heading-2"
                ><span>Step-by-step Guide</span></h2
              ></a
            ><a
              href="https://www.youtube.com/watch?v=8e0rjjcrQzg&amp;ab_channel=NishaMadhulika"
              target="_blank"
              rel="noreferrer noopener"
              class="features24-feature1-description thq-body-small"
              ><span
                >Detailed instructions on how to prepare soybean milk from
                scratch</span
              ></a
            ></div
          ></div
        ><div class="features24-tab-horizontal1"
          ><div class="features24-divider-container1"
            ><div class="features24-container3"></div></div
          ><div class="features24-content1"
            ><a href="requirements.html" class="features24-navlink1"
              ><h2 class="features24-feature2-title thq-heading-2"
                ><span>Nutritional Information</span></h2
              ></a
            ><span class="thq-body-small"
              ><span
                >Learn about the nutritional content of soybean milk and its
                health benefits</span
              ></span
            ></div
          ></div
        ><div class="features24-tab-horizontal2"
          ><div class="features24-divider-container2"
            ><div class="features24-container4"></div></div
          ><div class="features24-content2"
            ><a href="requirements.html" class="features24-navlink2"
              ><h2 class="features24-feature3-title thq-heading-2"
                ><span>Required Equipment</span></h2
              ></a
            ><span class="thq-body-small"
              ><span
                >Find out what equipment and ingredients are needed to make
                soybean milk at home</span
              ></span
            ></div
          ></div
        ></div
      ></div
    ></div
  ></div
>
