<div
  ><link href="./hero9.css" rel="stylesheet" /><div
    class="hero9-header30 thq-section-padding"
    ><img
      alt="Soybean Milk Preparation"
      src="https://images.unsplash.com/photo-1698993082050-19ca94c62fb8?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxODAwMTMwN3w&ixlib=rb-4.0.3&q=80&w=1080"
      class="hero9-image"
    /><div class="hero9-container"></div
    ><div class="hero9-max-width thq-section-max-width"
      ><div class="hero9-content"
        ><h1 class="hero9-text thq-heading-1"
          ><span>Welcome to the Preparation of Soybean Milk Website</span></h1
        ><p class="hero9-text1 thq-body-large"
          ><span
            >Learn how to make soybean milk from scratch with our step-by-step
            guide.</span
          ></p
        ><div class="hero9-actions"
          ><button class="thq-button-filled hero9-button"
            ><a href="requirements.html" class="hero9-text2 thq-body-small"
              ><span>Requirements</span></a
            ></button
          ><a
            href="https://www.youtube.com/watch?v=8e0rjjcrQzg&amp;ab_channel=NishaMadhulika"
            target="_blank"
            rel="noreferrer noopener"
            class="hero9-button1 thq-button-outline"
            ><span class="hero9-text3 thq-body-small"
              ><span>Video</span></span
            ></a
          ></div
        ></div
      ></div
    ></div
  ></div
>
