<div
  ><link href="./navbar4.css" rel="stylesheet" /><header
    class="navbar4-container"
    ><header data-thq="thq-navbar" class="navbar4-navbar-interactive"
      ><img
        alt="Soybean Milk Preparation"
        src="public/wcfwse-1500h.webp"
        class="navbar4-image1"
      /><div data-thq="thq-navbar-nav" class="navbar4-desktop-menu"
        ><nav class="navbar4-links"
          ><a href="index.html" class="navbar4-link1 thq-link thq-body-small"
            ><span>Introduction</span></a
          ><a href="aim.html" class="navbar4-link2 thq-link thq-body-small"
            ><span>Manufacturing Process</span></a
          ><a href="page.html" class="navbar4-link3 thq-link thq-body-small"
            ><span>Nutritional Information</span></a
          ><a href="aim.html" class="navbar4-link4 thq-link thq-body-small"
            ><span>Aim</span></a
          ><a
            href="requirements.html"
            class="navbar4-link5 thq-link thq-body-small"
            ><span>Requirements</span></a
          ></nav
        ><div class="navbar4-buttons"
          ><a
            href="https://www.youtube.com/watch?v=8e0rjjcrQzg&amp;ab_channel=NishaMadhulika"
            target="_blank"
            rel="noreferrer noopener"
            class="navbar4-action1 thq-button-animated thq-button-filled"
            ><span class="thq-body-small">VIDEO</span></a
          ><a
            href="https://en.wikipedia.org/wiki/Soy_milk"
            target="_blank"
            rel="noreferrer noopener"
            class="navbar4-action2 thq-button-animated thq-button-outline"
            ><span class="thq-body-small">ASK WIKI </span></a
          ></div
        ></div
      ><div data-thq="thq-burger-menu" class="navbar4-burger-menu"
        ><svg viewBox="0 0 1024 1024" class="navbar4-icon">
          <path
            d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
          ></path></svg></div
      ><div data-thq="thq-mobile-menu" class="navbar4-mobile-menu"
        ><div class="navbar4-nav"
          ><div class="navbar4-top"
            ><img
              alt="Soybean Milk Preparation"
              src="public/wcfwse-1500h.webp"
              class="navbar4-logo" /><div
              data-thq="thq-close-menu"
              class="navbar4-close-menu"
              ><svg viewBox="0 0 1024 1024" class="navbar4-icon2">
                <path
                  d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
                ></path></svg></div></div
          ><nav class="navbar4-links1"
            ><span class="thq-link thq-body-small"
              ><span>Introduction</span></span
            ><span class="thq-link thq-body-small"
              ><span>Manufacturing Process</span></span
            ><span class="thq-link thq-body-small"
              ><span>Nutritional Information</span></span
            ><span class="thq-link thq-body-small"><span>Aim</span></span
            ><span class="thq-link thq-body-small"
              ><span>Requirements</span></span
            ></nav
          ></div
        ><div class="navbar4-buttons1"
          ><button class="thq-button-filled">Login</button
          ><button class="thq-button-outline">Register</button></div
        ></div
      ></header
    ></header
  ></div
>
