<div
  ><link href="./pricing14.css" rel="stylesheet" /><div
    class="pricing14-pricing23 thq-section-padding"
    ><div class="pricing14-max-width thq-section-max-width"
      ><div class="pricing14-section-title"
        ><span class="pricing14-text thq-body-small"
          ><span>Choose the perfect plan for you</span></span
        ><div class="pricing14-content"
          ><h2 class="pricing14-text01 thq-heading-2"
            ><span>Pricing plan</span></h2
          ><p class="pricing14-text02 thq-body-large"
            ><span
              >Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </span></p
          ></div
        ></div
      ><div class="pricing14-tabs"
        ><button class="pricing14-button thq-button-animated thq-button-filled"
          ><span class="thq-body-small">Monthly</span></button
        ><button
          class="pricing14-button01 thq-button-animated thq-button-outline"
          ><span class="thq-body-small">Monthly </span></button
        ><button
          class="pricing14-button02 thq-button-animated thq-button-filled"
          ><span class="thq-body-small">Yearly</span></button
        ><button
          class="pricing14-button03 thq-button-animated thq-button-outline"
          ><span class="thq-body-small">Yearly</span></button
        ></div
      ><div class="pricing14-container"
        ><div class="pricing14-column thq-card"
          ><div class="pricing14-price"
            ><div class="pricing14-price01"
              ><p class="pricing14-text07 thq-body-large"
                ><span>Basic plan</span></p
              ><h3 class="pricing14-text08 thq-heading-3"><span>$5.99</span></h3
              ><p class="thq-body-large"><span>or $200 yearly</span></p></div
            ><div class="pricing14-list"
              ><div class="pricing14-list-item"
                ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path></svg
                ><span class="thq-body-small"
                  ><span
                    >Step-by-step guide on soybean milk preparation</span
                  ></span
                ></div
              ><div class="pricing14-list-item01"
                ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path></svg
                ><span class="thq-body-small"
                  ><span>Nutritional information included</span></span
                ></div
              ><div class="pricing14-list-item02"
                ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path></svg
                ><span class="thq-body-small"
                  ><span>24/7 customer support</span></span
                ></div
              ></div
            ></div
          ><button
            class="pricing14-button04 thq-button-animated thq-button-outline"
            ><span class="thq-body-small"
              ><span>Subscribe now</span></span
            ></button
          ></div
        ><div class="pricing14-column1 thq-card"
          ><div class="pricing14-price02"
            ><div class="pricing14-price03"
              ><p class="pricing14-text14 thq-body-large"
                ><span>Business plan</span></p
              ><h3 class="pricing14-text15 thq-heading-3"><span>$9.99</span></h3
              ><p class="thq-body-large"><span>or $299 yearly</span></p></div
            ><div class="pricing14-list1"
              ><div class="pricing14-list-item03"
                ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path></svg
                ><span class="thq-body-small"
                  ><span
                    >Advanced techniques for soybean milk production</span
                  ></span
                ></div
              ><div class="pricing14-list-item04"
                ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path></svg
                ><span class="thq-body-small"
                  ><span>Exclusive recipes for flavored soy milk</span></span
                ></div
              ><div class="pricing14-list-item05"
                ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path></svg
                ><span class="thq-body-small"
                  ><span>Access to live webinars with experts</span></span
                ></div
              ><div class="pricing14-list-item06"
                ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path></svg
                ><span class="thq-body-small"
                  ><span>Feature text goes here</span></span
                ></div
              ></div
            ></div
          ><button
            class="pricing14-button05 thq-button-animated thq-button-filled"
            ><span class="thq-body-small"
              ><span>Subscribe now</span></span
            ></button
          ></div
        ><div class="pricing14-column2 thq-card"
          ><div class="pricing14-price04"
            ><div class="pricing14-price05"
              ><p class="pricing14-text22 thq-body-large"
                ><span>Enterprise plan</span></p
              ><h3 class="pricing14-text23 thq-heading-3"
                ><span>$14.99</span></h3
              ><p class="thq-body-large"><span>or $499 yearly</span></p></div
            ><div class="pricing14-list2"
              ><div class="pricing14-list-item07"
                ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path></svg
                ><span class="thq-body-small"
                  ><span
                    >In-depth knowledge on soybean milk manufacturing
                    process</span
                  ></span
                ></div
              ><div class="pricing14-list-item08"
                ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path></svg
                ><span class="thq-body-small"
                  ><span
                    >Customizable workshops for personalized learning</span
                  ></span
                ></div
              ><div class="pricing14-list-item09"
                ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path></svg
                ><span class="thq-body-small"
                  ><span>Priority email support for queries</span></span
                ></div
              ><div class="pricing14-list-item10"
                ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path></svg
                ><span class="thq-body-small"
                  ><span>Feature text goes here</span></span
                ></div
              ><div class="pricing14-list-item11"
                ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path></svg
                ><span class="thq-body-small"
                  ><span>Feature text goes here</span></span
                ></div
              ></div
            ></div
          ><button
            class="pricing14-button06 thq-button-animated thq-button-filled"
            ><span class="thq-body-small"
              ><span>Subscribe now</span></span
            ></button
          ></div
        ></div
      ><div class="pricing14-container1"
        ><div class="pricing14-column3 thq-card"
          ><div class="pricing14-price06"
            ><div class="pricing14-price07"
              ><span class="pricing14-text31 thq-body-large"
                ><span>Basic plan</span></span
              ><h3 class="pricing14-text32 thq-heading-3"
                ><span>$200/yr</span></h3
              ><span class="thq-body-large"
                ><span>or $20 monthly</span></span
              ></div
            ><div class="pricing14-list3"
              ><div class="pricing14-list-item12"
                ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path></svg
                ><span class="thq-body-small"
                  ><span>Feature text goes here</span></span
                ></div
              ><div class="pricing14-list-item13"
                ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path></svg
                ><span class="thq-body-small"
                  ><span>Feature text goes here</span></span
                ></div
              ><div class="pricing14-list-item14"
                ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path></svg
                ><span class="thq-body-small"
                  ><span>Feature text goes here</span></span
                ></div
              ></div
            ></div
          ><button
            class="pricing14-button07 thq-button-animated thq-button-outline"
            ><span class="thq-body-small"
              ><span>Get started</span></span
            ></button
          ></div
        ><div class="pricing14-column4 thq-card"
          ><div class="pricing14-price08"
            ><div class="pricing14-price09"
              ><span class="pricing14-text38 thq-body-large"
                ><span>Business plan</span></span
              ><h3 class="pricing14-text39 thq-heading-3"
                ><span>$299/yr</span></h3
              ><span class="thq-body-large"
                ><span>or $29 monthly</span></span
              ></div
            ><div class="pricing14-list4"
              ><div class="pricing14-list-item15"
                ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path></svg
                ><span class="thq-body-small"
                  ><span>Feature text goes here</span></span
                ></div
              ><div class="pricing14-list-item16"
                ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path></svg
                ><span class="thq-body-small"
                  ><span>Feature text goes here</span></span
                ></div
              ><div class="pricing14-list-item17"
                ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path></svg
                ><span class="thq-body-small"
                  ><span>Feature text goes here</span></span
                ></div
              ><div class="pricing14-list-item18"
                ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path></svg
                ><span class="thq-body-small"
                  ><span>Feature text goes here</span></span
                ></div
              ></div
            ></div
          ><button
            class="pricing14-button08 thq-button-animated thq-button-filled"
            ><span class="thq-body-small"
              ><span>Get started</span></span
            ></button
          ></div
        ><div class="pricing14-column5 thq-card"
          ><div class="pricing14-price10"
            ><div class="pricing14-price11"
              ><span class="pricing14-text46 thq-body-large"
                ><span>Enterprise plan</span></span
              ><h3 class="pricing14-text47 thq-heading-3"
                ><span>$499/yr</span></h3
              ><span class="thq-body-large"
                ><span>or $49 monthly</span></span
              ></div
            ><div class="pricing14-list5"
              ><div class="pricing14-list-item19"
                ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path></svg
                ><span class="thq-body-small"
                  ><span>Feature text goes here</span></span
                ></div
              ><div class="pricing14-list-item20"
                ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path></svg
                ><span class="thq-body-small"
                  ><span>Feature text goes here</span></span
                ></div
              ><div class="pricing14-list-item21"
                ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path></svg
                ><span class="thq-body-small"
                  ><span>Feature text goes here</span></span
                ></div
              ><div class="pricing14-list-item22"
                ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path></svg
                ><span class="thq-body-small"
                  ><span>Feature text goes here</span></span
                ></div
              ><div class="pricing14-list-item23"
                ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path></svg
                ><span class="thq-body-small"
                  ><span>Feature text goes here</span></span
                ></div
              ></div
            ></div
          ><button
            class="pricing14-button09 thq-button-animated thq-button-filled"
            ><span class="thq-body-small"
              ><span>Get started</span></span
            ></button
          ></div
        ></div
      ></div
    ></div
  ></div
>
