<div
  ><link href="./steps2.css" rel="stylesheet" /><div
    class="steps2-container thq-section-padding"
    ><div class="steps2-max-width thq-section-max-width"
      ><div class="steps2-container1 thq-grid-2"
        ><div class="steps2-section-header"
          ><h2 class="thq-heading-2">Discover the Power of Our Products</h2
          ><p class="thq-body-large"
            >Soy milk offers numerous health benefits, including being a rich
            source of protein, promoting heart health by lowering cholesterol,
            aiding in bone health with its calcium and vitamin D content, and
            being lactose-free, making it suitable for those with lactose
            intolerance. It also supports weight management, digestive health,
            hormonal balance, skin health, and is allergen-free, while
            contributing to environmental sustainability.</p
          ><div class="steps2-actions"
            ><a
              href="index.html"
              class="steps2-button thq-button-animated thq-button-filled"
              ><span class="thq-body-small">Home</span></a
            ></div
          ></div
        ><div class="steps2-container2"
          ><div class="steps2-container3 thq-card"
            ><h2 class="thq-heading-2"><span>Soaking the soybeans</span></h2
            ><span class="steps2-text04 thq-body-small"
              ><span
                >Rinse 1 cup of soybeans and soak them in water overnight or for
                at least 8 hours.</span
              ></span
            ><label class="steps2-text05 thq-heading-3">01</label></div
          ><div class="steps2-container4 thq-card"
            ><h2 class="thq-heading-2"><span>Blending the soybeans</span></h2
            ><span class="steps2-text07 thq-body-small"
              ><span
                >After soaking, drain the soybeans and blend them with 4 cups of
                water until smooth.</span
              ></span
            ><label class="steps2-text08 thq-heading-3">02</label></div
          ><div class="steps2-container5 thq-card"
            ><h2 class="thq-heading-2"><span>Straining the mixture</span></h2
            ><span class="steps2-text10 thq-body-small"
              ><span
                >Pour the blended mixture through a nut milk bag or cheesecloth
                to strain out the pulp.</span
              ></span
            ><label class="steps2-text11 thq-heading-3">03</label></div
          ><div class="steps2-container6 thq-card"
            ><h2 class="thq-heading-2"><span>Boiling the soy milk</span></h2
            ><span class="steps2-text13 thq-body-small"
              ><span
                >Transfer the strained liquid to a pot, bring it to a boil, then
                simmer for about 20 minutes, stirring occasionally.</span
              ></span
            ><label class="steps2-text14 thq-heading-3">04</label></div
          ></div
        ></div
      ></div
    ></div
  ></div
>
